@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=Libre+Barcode+39+Text&family=Nuosu+SIL&family=Playball&family=Press+Start+2P&family=Sanchez&display=swap');
.categorycontainer{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.categorytitle{
    padding: 30px 0;
    padding-bottom: 0;
    text-align: center;
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: 50px;
    width: 100%;
}

.categoriescarousel{
    padding: 40px 0;
    padding-bottom: 1%;
    text-align: center;
    width: 100%;
    height: fit-content;
    margin: 0%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}


.categorysubmit{
    margin-top: 5px;
    margin-bottom: 30px;
      align-items: center;
      appearance: none;
      background-color: #fff;
      border-radius: 24px;
      border-style: none;
      box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
      box-sizing: border-box;
      color: #3c4043;
      cursor: pointer;
      display: inline-flex;
      fill: currentcolor;
      font-family: "Google Sans",Roboto,Arial,sans-serif;
      font-size: 14px;
      font-weight: 500;
      height: 48px;
      justify-content: center;
      letter-spacing: .25px;
      line-height: normal;
      max-width: 100%;
      overflow: visible;
      padding: 2px 24px;
      position: relative;
      text-align: center;
      text-transform: none;
      transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: auto;
      margin-right: 100%;
      margin-left: 100%;
      will-change: transform,opacity;
      z-index: 0;

}
.categorysubmit:hover {
    background: #F6F9FE;
      color: #174ea6;
  }

.categoryimage{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    filter: brightness(80%);
}
.categoryimage:hover{
    opacity: 50%;
    cursor:pointer;
    transition: 0.4s;
}

.categorybutton{
    margin: 2px;
    padding: 0;
    border: 0;
    background: rgba(255, 255, 255, 0);
    border-radius: 50%;
    position: relative;
    
}

.categorybutton:focus{
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

.categoryadd{
    font-size: 100px;
    color: #3c4043;
    background-color: #fdfdfd;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
}

.categoryname{
    display: flex;
    font-size: 35px;
    color: rgb(255, 255, 255);
    position: absolute;
    flex-wrap: nowrap;
    text-decoration: none;
    text-shadow: rgb(0.4, 0.4, 2.4);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: 'Nuosu SIL', serif;
    top: 20%;
    width: 100%;
    text-align: center;
    align-content: center;
    justify-content: center;
    user-select: none;
}

.categoryshape{
    position: relative; 
}

.addCategory{

  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
  margin-top: 30px;
  margin-bottom: 0px;
  font-weight: bold;
}

.addCategory:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.togglecontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px;
    color: rgb(0, 0, 0);

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}
.Inputcategorydiv{
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
    
}

.Inputcategoryfeild{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #3c4043;
    outline: 0;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 7px 0;
    background: transparent;
 
}
.Inputcategoryfeild::placeholder{
    color:#3938386e;
}
.categorytoggle{
    margin: 20px;
    margin-bottom: 10px;
}
.inputcategorybuttons{
    margin-top: 30px;
}
.Inputcategorysubmit{
 
  align-items: center;
  appearance: none;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: .375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  display: inline-flex;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  margin-right: 20px;
}

.Inputcategorysubmit:hover {
  border-color: #b5b5b5;
}
.Inputcategoryclose{
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.Inputcategoryclose:hover{
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}
