@import "./Style/ingredients.css";
@import './Style/nav.css';
@import './Style/Categories.css';
@import './Style/AddRecipe.css';
@import './Style/recipeItem.css';
@import './Style/RecipePage.css';
@import "./Style/user.css";

body{
    background-color: #35373b;
}
.Welcome{
    color: #ffff;
    font-size: 50px;
    font-family: sans-serif;
}